/* generale */
.contenitore {
  position: relative;
}

.due {
  position: absolute;
  top: 372px;
  margin-top: 30px;
}

.uno,
.due {
  z-index: 1;
}

.uno:hover,
.due:hover {
  cursor: pointer;
}

/* prodotti */
.ipad {
  position:absolute;
}

.iphone {
  position: absolute;
  left: 305px;
}

.bose {
  position: absolute;
  left: 610px;
}

/* sconti */
.sconto {
  position: absolute;
  right: 0;
  z-index: 2;
  display: inline;
}

.cinque {
  background: red;
}

.trenta {
  background: green;
}

/* cuoricini */

.cuoricino {
  width: 40px;
  height: 30px;
  position: absolute;
  left: 130px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
}

.box:hover .cuoricino {
  opacity: 1;
}
