/* generale */
.contenitore {
  position: relative;
}

.due {
  position: absolute;
  top: 372px;
  margin-top: 30px;
}

/* elementi */
.ipad {
  position:absolute;
}

.iphone {
  position: absolute;
  left: 305px;
}

.bose {
  position: absolute;
  left: 610px;
}

/* sconti */
.sconto {
  position: absolute;
  right: 0;
  z-index: 2;
  display: inline;
}

.cinque {
  background: red;
}

.trenta {
  background: green;
}
